@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@400;500;700&family=Yellowtail&display=swap');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #252b42;
    font-weight: 500;
}
.wrapper {
    width: 1920px;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
}
.container {
    width: 1400px;
    margin: 0 auto;
}
/* ---------------------- */
.header {
    display: inline-flex;
    flex-direction: column;
    padding: 69px 162px;
    gap: 10px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.90);
}
.header-info {
    display: flex;
    align-items: center;
    width: 1595.791px;
    gap: 130px;
}
.nav {
    display: flex;
    align-items: center;
    width: 912.791px;
    flex-shrink: 0;
    gap: 150px;
}
.header-cart {
    display: flex;
    justify-content: flex-end;
    width: 553px;
    gap: 18px;
    align-items: center;
    flex-shrink: 0;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo h3 {
    color: #274C5B;
    font-size: 38px;
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}
.nav ul {
    display: inline-flex;
    align-items: center;
    gap: 30px;
}
.nav ul li a {
    color: #274C5B;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}
.input_div {
    width: 376px;
    flex-shrink: 0;
    height: 66px;
    border-radius: 30px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-between;
}
.input_div input {
    width: 300px;
    background-color: #FAFAFA;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    padding: 0 15px;
}
.cart_div {
    width: 159px;
    flex-shrink: 0;
    height: 66px;
    background-color: #FAFAFA;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.cart_div span {
    color: #274C5B;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
}
.section {
    position: relative;
}
.section-div {
    position: absolute;
    top: 0;
}
.section-content {
    position: absolute;
    top: 304px;
    left: 260px;
}
.section-content-title {
    display: flex;
    flex-direction: column;
    width: 530px;
    gap: 8px;
    align-items: flex-start;
}
.section-content-title h2 {
    color: #68A47F;
    font-size: 36px;
    font-family: Yellowtail;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}
.section-content-title h3 {
    width: 530px;
    color: #274C5B;
    font-size: 70px;
    font-family: Roboto;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
}
.section-content-button {
    width: 220px;
    height: 79px;
    display: flex;
    flex-direction: column;
    padding: 28px 39px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 16px;
    background-color: #efd372;
}
.section-content-button-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.section-content-button-text h2 {
    color: #274C5B;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}
.offer-banner {
    display: flex;
    align-items: center;
    gap: 36px;
    margin: 0 auto;
    margin-top: 150px;
}
.offer-banner-img-title {
    position: relative;
}
.offer-banner-img-title-position {
    position: absolute;
    top: 158px;
    left: 100px;
}
.offer-banner-img-title-position h2 {
    color: #FFF;
    font-size: 36px;
    font-family: Yellowtail;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}
.offer-banner-img-title-position h3 {
    width: 277px;
    color: #FFF;
    font-size: 40px;
    font-family: Roboto;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
}